# Restaurant Sales Data

In [2]:
import pandas as pd

In [3]:
file = "/content/drive/MyDrive/COLAB YUZAR/restaurant_sales_data.csv"
df = pd.read_csv(file)

df

,Order ID,Customer ID,Category,Item,Price,Quantity,Order Total,Order Date,Payment Method
0,ORD_705844,CUST_092,Side Dishes,Side Salad,3.0,1.0,3.0,2023-12-21,Credit Card
1,ORD_338528,CUST_021,Side Dishes,Mashed Potatoes,4.0,3.0,12.0,2023-05-19,Digital Wallet
2,ORD_443849,CUST_029,Main Dishes,Grilled Chicken,15.0,4.0,60.0,2023-09-27,Credit Card
3,ORD_630508,CUST_075,Drinks,NaN,NaN,2.0,5.0,2022-08-09,Credit Card
4,ORD_648269,CUST_031,Main Dishes,Pasta Alfredo,12.0,4.0,48.0,2022-05-15,Cash
...,...,...,...,...,...,...,...,...,...
17529,ORD_320102,CUST_021,Drinks,NaN,NaN,4.0,4.0,2023-12-23,Cash
17530,ORD_974128,CUST_069,Desserts,Ice Cream,5.0,3.0,15.0,2023-12-18,Cash
17531,ORD_108324,CUST_050,Desserts,Ice Cream,5.0,4.0,20.0,2022-05-20,Digital Wallet
17532,ORD_612647,CUST_073,Side Dishes,Mashed Potatoes,4.0,2.0,8.0,2022-01-27,Digital Wallet
17533,ORD_680707,CUST_006,Desserts,NaN,7.0,4.0,28.0,2023-01-07,NaN

# Business Understanding

## Business Objective

Kita memiliki dataset transaksi restoran dari tahun 2022-2023. Terdapat order id, customer id, kategori menu, item, harga, jumlah, total, tanggal, dan metode bayar. Tujuannya adalah mencari tahu pola penjualan agar dapat memberikan masukan ke restoran, seperti:

- Menu apa yang paling laris?
- Kapan waktu ramai pengunjung?
- Metode pembayaran apa yang paling sering dipakai?
- Apakah ada hubungan antara harga dan jumlah yang dibeli?

Dari hasil analisis, restoran dapat mengatur stok lebih baik, bikin promo pas waktu sepi, dan meningkatin pelayanan.

## Assess Situation

Saat ini, restoran memiliki data transaksi yang cukup lengkap namun terdapat beberapa masalah:

- Terdapat kolom yang kosong (missing values), terutama di kolom Item, Price, Quantity, Order Total, dan Payment Method.

- Format tanggal yang sudah bagus, tetapi perlu dipisah jadi bulan/tahun agar mudah dianalisis.

Banyaknya missing values dapat mengurangi kualitas hasil jika tidak ditangani dengan baik.

## Analytic Goals

- Mengidentifikasi kategori dan item dengan penjualan tertinggi dan kontribusi pendapatan terbesar.
- Mengetahui pola penjualan harian, bulanan, dan tahunan untuk menentukan periode sibuk dan sepi.
- Menganalisis metode pembayaran yang paling sering digunakan dan kaitannya dengan nilai transaksi.
- Melihat hubungan antara harga, jumlah pesanan, dan total penjualan untuk menentukan strategi harga.
- Menemukan transaksi tidak wajar (misal, missing values atau outlier) untuk perbaikan data.

## Project Plan

- Data Understanding dan Preparation
- Eksplorasi Data dan Visualisasi
- Analisis dan Kesimpulan